node_modules/
example/
coverage
test/coverage
test/mocks
target/
.cache/
.config/
.npm/
.DS_Store
.idea
*.iml
*.swp

npm-debug.log

# ignore npm lockfile (use yarn!)
package-lock.json

yarn-error.log
