/* DayPicker styles */

.DayPicker {
  display: inline-block;
  width: 100%
}

.DayPicker *:not(.DayPicker-Day):focus {
  outline: 0;
}

.DayPicker-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 1rem;
  flex-direction: row;
}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  margin-top: 1rem;
}

.DayPicker-NavBar {
}

.DayPicker-NavButton {
  border: solid #0aa1f9;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;

  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 1.5rem;
  margin-top: 2px;
  width: 1rem;
  height: 1rem;
}


.DayPicker-NavButton--next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.DayPicker-NavButton--prev {
  left: 1.5rem;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.DayPicker-NavButton--interactionDisabled {
  display: none;
}

.DayPicker-Caption {
  padding: 0 0.5rem;
  display: table-caption;
  text-align: center;
  margin-bottom: 0.5rem;
}

.DayPicker-Caption > div {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.DayPicker-Weekdays {
  margin-top: 1rem;
  display: table-header-group;
}

.DayPicker-WeekdaysRow {
  display: table-row;
}

.DayPicker-Weekday {
  display: table-cell;
  padding: 0.5rem;
  font-size: 0.875em;
  text-align: center;
  color: #8b9898;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Body {
  display: table-row-group;
}

.DayPicker-Week {
  display: table-row;
}

.DayPicker-Day {
  display: table-cell;
  padding: 0.7rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 50%;
}


.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5rem;
  text-align: right;
  vertical-align: middle;
  min-width: 1rem;
  font-size: 0.75em;
  cursor: pointer;
  color: #8b9898;
  border-right: 1px solid #eaecec;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Footer {
  padding-top: 0.5rem;
}

.DayPicker-TodayButton {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  color: #4a90e2;
  font-size: 0.875em;
}

/* Default modifiers */

.DayPicker-Day--today {
  color: #d0021b;
  font-weight: 700;
  nox-shadow: 1px 1px 7px 0px rgb(0, 0, 0)
}

.DayPicker-Day--outside {
  cursor: default;
  color: #8b9898;
}

.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
  /* background-color: #eff1f1; */
}

/* Example modifiers */

.DayPicker-Day--sunday {
  background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  color: #f0f8ff;
  background-color: #4a90e2;
}


/* DayPickerInput */

.DayPickerInput {
  display: inline-block;
}

.DayPickerInput-OverlayWrapper {
  position: relative;
}

.DayPickerInput-Overlay {
  left: 0;
  z-index: 1;
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}


/* custom ones */
.passButton {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 26vw;
  margin: 4px 2px;
  border-radius: 20px;
}
.passButton:focus {
  outline: 0;
}
.removepassesButton {
  color: white;
  background-color: #636363;
}

.addPassesButton {
  width: 80vw;
  color: white;
  background-color: rgb(45, 118, 246);
}

.bottomButtonContainer {
  position: fixed;
  bottom: 5px;
  right: 0;
  width: 100vw;
}

.ons-list-item-fixed {
  margin-bottom: 5px;
}

.list-header--material {
  padding-left: 0 !important;
  font-size: 16px !important;
}

