body {
  background: #ffffee;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a.schema-button {
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #000000;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: #343434;
  text-align:center;
  transition: all 0.15s;
}
a.schema-button:hover {
  color:#DDDDDD;
  border-color:#DDDDDD;
}
a.schema-button:active {
  color:#BBBBBB;
  border-color:#BBBBBB;
}
@media all and (max-width:30em) {
  a.schema-button{
    display:block;
    margin:0.4em auto;
  }
}
