body {
  font-family: "Droid Sans";
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo_big {
  max-width: 90%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.button--easyscheduler--outline {
  background-color: transparent !important;
  border: 1px solid rgb(101, 201, 126) !important;
  color: rgb(101, 201, 126) !important;
}

.page__background {
  background-color: rgb(255, 255, 255) !important;
}


.page__content {
  text-align: center !important;
}

.toolbar {
  background-color: #FFF !important;
  border-bottom: thin solid #CCC !important;
}

.tabbar {
  background-color: #FFF !important;
  border-top: thin solid #CCC !important;
}

.text-input--material__label {
  color: #6d6d72 !important;
}

.bottom {
  position:absolute;
  bottom: 2%;
  left: 10%;
  right: 10%;
}

.bottom > ons-button:first-child {
  margin-bottom: 10px;
}
